{{>nav}}
<input type="hidden" id="userID" value={{userID}}>
<input type="hidden" id="RoomID" value={{RoomID}}>
<input type="hidden" id="user_img" value={{user_img}}>
<input type="hidden" id="user_name" value={{user.name}}>

<div class="chats_user">
    <div class="logo_message">
        {{!-- <div class="logo_message_img" style="background-image: url('{{another_user.photo}}');"> --}}
        <div class="logo_message_img">
            <img src={{another_user.photo}}>
        </div>
        <div class="logo_container">
            <div class="logo_message_user_name">
                {{another_user.name}} {{another_user.lastname}}
            </div>
            {{#if another_user.type}}
            <div class="logo_message_status">
                был в сети {{another_user.online}}
            </div>
            {{else}}

            {{/if}}

        </div>
    </div>
    <ul id="messages" class="ul">
        {{#each complete_arr}}
        <li class="li {{this.div_class}}"><img src='{{this.img}}' alt="" width="50px" height="50px">{{this.massage}}
        </li>
        {{/each}}
    </ul>
    <div class="container_form">
        <form action="" id="form-chat">
            <div class="typing"></div>
            <div class="emoji">

            </div>
            <button id="btn-emoji"> <img src="/images/smile.png" alt="" id="target_img"></button>
            <input id="input_submit" placeholder="Введите сообщение..." autocomplete="off"> </input>
            <button id="btn-submit"> Отправить</button>
        </form>
    </div>

</div>

{{!-- <script src="/socket.io/lib/socket.js"></script> --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
<script src="/javascripts/socket.js"></script>