{{>nav}}
<div class="chats_user">
    {{!-- <a href="#">
        <div class="container_chats">
            <div class="image_container"
                style="background-image: url('https://img.icons8.com/color/480/steve-jobs.png');">
            </div>
            <div class="user_name">Сергей Лисицкий</div>
            <div class="new_message_container">
                <div class="text">новых сообщений</div>
                <div class="count">300</div>
            </div>
        </div> --}}
    {{!-- </a> --}}
    {{#each arr}}
    <a href="chat/{{this.chat_id}}" id={{this.chat_id}}>
        <div class="container_chats">
            <div class="image_container" style="background-image: url({{this.photo}});">

            </div>
            <div class="user_name">{{this.user_name}} {{this.lastname}}</div>
            {{#if this.new_message}}
            <div class="new_message_container">
                <div class="text">новых сообщений</div>
                <div class="count">{{this.new_message}}</div>
            </div>
            {{/if}}
        </div>
    </a>
    {{/each}}
</div>