{{>nav}}
<link rel="stylesheet" href="/stylesheets/prompt.css">
<div class="container__chat">
    <input type="hidden" id="userID" value={{userID}}>
    <input type="hidden" id="RoomID" value={{RoomID}}>
    <input type="hidden" id="user_img" value={{user_img}}>
    <input type="hidden" id="user_name" value={{user.name}}>

    <div class="chats_user">
        <div class="logo_message">
            <div class="logo_message_img prompt" data-value="image">

                <img src={{another_user.photo}}>
            </div>
            <div class="logo_container">
                <div class="logo_message_user_name">
                    {{another_user.name}} {{another_user.lastname}}
                </div>
                {{#if another_user.type}}
                <div class="logo_message_status prompt" data-value="Статус">
                    был в сети {{another_user.online}}
                </div>
                {{/if}}
            </div>
            {{#if another_user.type}}
            {{else}}
            <div class="chat_setting">
                <img src="https://image.flaticon.com/icons/svg/1835/1835942.svg" alt="">
            </div>
            {{/if}}
        </div>
        <ul id="messages" class="ul">
            {{#each complete_arr}}
            <li class="li {{this.div_class}}"><img src='{{this.img}}' alt="" width="50px" height="50px">{{this.massage}}
            </li>
            {{/each}}
        </ul>
        <div class="container_form">
            <form action="" id="form-chat">
                <div class="typing"></div>
                <div class="emoji">

                </div>
                <button id="btn-emoji"> <img src="/images/smile.png" alt="" id="target_img"></button>
                <input id="input_submit" placeholder="Введите сообщение..." autocomplete="off"> </input>
                <button id="btn-submit"> Отправить</button>
            </form>
        </div>

    </div>
</div>
<div class="container_setting">
    <div class="box_setting">
        <div class="setting_header">
            <div class="setting_header_text">
                {{chat_name}}
            </div>
            <div class="setting_header_btn_close">
                Закрыть
            </div>
        </div>
        <div class="setting_show_users">
            <div class="setting_show_users__header">
                Пользователи в чате :
            </div>
            <div class="setting_show_users__body">
                {{#each users_in_chat}}
                <div class="setting_show_users__body_user">
                    {{this.lastname}} {{this.name}}
                </div>
                {{/each}}
            </div>
        </div>
        <div class="setting_edit_photo">
            <div class="setting_edit_photo__header">
                Изменить фото чата :
            </div>
            <div class="setting_edit_photo__body">
                <div class="container_setting_img">
                    <img src={{another_user.photo}} alt="">
                </div>

                <div class="container_setting_container_input">
                    <div class="conteiner_input">
                        <div class="btn_url_for_input">url</div>
                        <input type="text" id="input_url">
                    </div>
                    <div class="conteiner_input">
                        <label for="file" id="label_file">file</label>
                        <input type="file" name="setting_img" id="file" accept="image/*" name="avatar">
                    </div>
                    <div class="conteiner_input">
                        <div class="btn_save_img">save</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container_setting_error"></div>
    </div>

    {{!-- <script src="/socket.io/lib/socket.js"></script> --}}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    <script src="/javascripts/chat_dom.js"></script>
    <script src="/javascripts/prompt.js"></script>
    <script src="/javascripts/socket.js"></script>