{{>nav}}
<div class="main_container">
    {{#if classs}}
    <div class="container_profile">

        {{#each classs}}
        <div class="profile">
            <div class="user__img">
                <img src={{this.photo}} alt="user">
            </div>
            <div class="user_info">
                <div>{{this.lastname}}</div>
                <div>{{this.name}}</div>
                <div>{{this.email}}</div>
            </div>
            <div class="control">
                <input type="hidden" name="classmates_id" id={{this._id}}>
                <div class="btn_message">
                    Открыть чат
                </div>
                <div class="btn_message">
                    Успешноть
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    Нажаль зараз немає одногрупників
    {{/if}}
</div>
<script src="/javascripts/classmates.js"></script>