<div class="nav_container">
    <div class="nav_left">
        MyTests
    </div>
    <div class="nav_center">
        <nav>
            <a href="/my_tests">
                <div class="nav_item">Мои тесты</div>
            </a>
            <a href="/my_tests">
                <div class="nav_item">Мои результаты</div>
            </a>
            <a href="/my_tests">
                <div class="nav_item">Мои одногрупники</div>
            </a>
            <a href="/chat">
                <div class="nav_item">Чат</div>
            </a>
        </nav>
    </div>
    <div class="nav_right">
        <div class="user_name">
            {{user.name}} {{user.lastname}}
        </div>
        <div class="user_img">
            <img src={{user.photo}} alt="user">
        </div>
        <div class="sub_right">
            <div>Настройки</div>
            <div id="logout">Выйти</div>
        </div>
    </div>
</div>
{{#if classs}}
<div class="my_class">
    <h1>Мої одногрупники</h1>
    <div class="other">
        {{#each classs}}
        <div>
            <div class="user_img">
                <img src={{this.photo}} alt="user">
            </div>
            <div class="user_info">
                <div>{{this.name}}</div>
                <div>{{this.lastname}}</div>
                <div>{{this.email}}</div>
                <div>{{this.group}}</div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{else}}
Нажаль зараз немає одногрупників
{{/if}}

<nav>
    <a href="/my_tests">
        <div class="nav_item">Мої тести</div>
    </a>
</nav>